StudentEnrollment.App/obj/project.assets.json
StudentEnrollment.App/bin/Debug/netcoreapp5.0/AutoMapper.dll
StudentEnrollment.App/obj/project.nuget.cache
StudentEnrollment.App/obj/StudentEnrollment.App.csproj.nuget.dgspec.json
StudentEnrollment.App/obj/StudentEnrollment.App.csproj.nuget.g.props
StudentEnrollment.App/obj/StudentEnrollment.App.csproj.nuget.g.targets
StudentEnrollment.App/obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
StudentEnrollment.App/obj/Debug/netcoreapp5.0/StudentEnrollment.App.AssemblyInfo.cs
StudentEnrollment.App/obj/Debug/netcoreapp5.0/StudentEnrollment.App.AssemblyInfoInputs.cache
StudentEnrollment.App/obj/Debug/netcoreapp5.0/StudentEnrollment.App.assets.cache
StudentEnrollment.App/obj/Debug/netcoreapp5.0/StudentEnrollment.App.csproj.AssemblyReference.cache
StudentEnrollment.App/obj/Debug/netcoreapp5.0/StudentEnrollment.App.GeneratedMSBuildEditorConfig.editorconfig
StudentEnrollment.App/obj/Debug/netcoreapp5.0/StudentEnrollment.App.RazorAssemblyInfo.cache
StudentEnrollment.App/obj/Debug/netcoreapp5.0/StudentEnrollment.App.RazorAssemblyInfo.cs
