@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}




<form asp-action="" method="post" role="form">


    <div class="form-group">

        <label asp-for="@Model.Email">Email</label>
        <input asp-for="@Model.Email" class="form-control" /></input>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>




    <button type="submit" class="btn btn-primary">Send Reset Password Link</button><br>
</form>