
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<h1 style="color: white;">Forgot Password Confirmation</h1>
<p>
    The link has been sent, please check your email to reset your password.
</p>