@model LoginDto
@using StudentEnrollment.Core.Dtos;

@{
    ViewData["Title"] = "Login";
}

<style>
    .form-control {
        min-width: 0;
        width: auto;
        display: inline;
    }
</style>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}

<form asp-action="Login" method="post" role="form">


    <h4 style="color: white;">Portal Login</h4><br>

    <div class="form-group">

        <label asp-for="UserName">Username </label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password </label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div><br>



    <button type="submit" class="btn btn-primary">Sign In</button><br>
</form>
<br></br>
<a asp-controller="Accounts" asp-action="ForgotPassword">Forgot Password?</a>
