@{
    ViewData["Title"] = "403 Forbidden Access";
}
 <a class="btn btn-info btn-sm"
                      asp-controller="Departments"
                      asp-action="Index">Back</a>
                      
<h3 style="text-align: center;color: white;">403 Forbidden Access</h3>
<h5 style="text-align: center;color: white;"> You are not authorized to view this page.</h5>