@{
    ViewData["Title"] = "Sign Up";
}

   <h2 style="text-align: center;"  style="color: white;"> Create Account</h2><br>


    <a class="btn btn-info btn-sm" 
                      asp-controller="Students"
                      asp-action="Register"></span>Sign up as a Student</a>


        <a class="btn btn-info btn-sm" 
                      asp-controller="Instructors"
                      asp-action="Register"></span>Sign up as an Instructor</a>
