@model AddStudentDto
@using StudentEnrollment.Core.Dtos;

@{
    ViewData["Title"] = "Sign Up - Student";
}
           <h3>Student Registration</h3><br>



<form method="post">


                <div class="form-group col-md-4">
                    <label asp-for="FirstName">First Name
                    </label>
                    <input asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>


                <div class="form-group col-md-4">
                    <label asp-for="LastName">Last Name
                    </label>
                    <input asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Username">Username
                    </label>
                    <input asp-for="Username" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Email">
                    </label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                
                <div class="form-group col-md-4">
                    <label asp-for="LastFourSNN">Last Four SSN
                    </label>
                    <input asp-for="LastFourSNN" class="form-control"/>
                    <span asp-validation-for="LastFourSNN" class="text-danger"></span>
                </div>

                <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>